# Imports

In [1]:
import numpy as np
import pandas as pd
import requests
import json

# Set Up Query Parameters

## Alpha Vantage

I will be getting stock information from an API provided by Alpha Vantage (https://www.alphavantage.co/)

Requests to this API require the following:

* apikey: Unique key for verification

* function: The kind of information you are requesting

* symbol: The symbol of the stock you are requesting info about

In [2]:
av_key = '94ZS21YTTUSHSS15'
av_base_url = 'https://www.alphavantage.co/query/'

### Stock Time Series Data

#### Intraday

https://www.alphavantage.co/documentation/#intraday

In [3]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_INTRADAY',
    'symbol':'.inx',
    'interval': '5min',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
intraday = pd.DataFrame.from_dict(res_dict['Time Series (5min)'], orient='index')
print(intraday.shape)
intraday.head()

Status Code: 200
{'1. Information': 'Intraday (5min) prices and volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14 16:00:00', '4. Interval': '5min', '5. Output Size': 'Full size', '6. Time Zone': 'US/Eastern'}
(780, 5)

                       1. open    2. high     3. low   4. close 5. volume
2017-11-01 09:35:00  2583.2100  2585.5500  2583.2100  2585.0900         0
2017-11-01 09:40:00  2585.1900  2585.9900  2584.7300  2585.7900         0
2017-11-01 09:45:00  2585.8100  2586.4300  2585.1200  2586.2000         0
2017-11-01 09:50:00  2586.2200  2587.6700  2586.1600  2587.1000         0
2017-11-01 09:55:00  2587.2400  2588.4000  2587.2400  2587.4900         0

#### Daily

https://www.alphavantage.co/documentation/#daily

In [4]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_DAILY',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
daily = pd.DataFrame.from_dict(res_dict['Time Series (Daily)'], orient='index')
print(daily.shape)
daily.head()

Status Code: 200
{'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Output Size': 'Full size', '5. Time Zone': 'US/Eastern'}
(4497, 5)

              1. open    2. high     3. low   4. close   5. volume
2000-01-03  1469.2500  1478.0000  1438.3600  1455.2200   931800000
2000-01-04  1455.2200  1455.2200  1397.4301  1399.4200  1009000000
2000-01-05  1399.4200  1413.2700  1377.6801  1402.1100  1085500000
2000-01-06  1402.1100  1411.9000  1392.1000  1403.4500  1092300000
2000-01-07  1403.4500  1441.4700  1400.7300  1441.4700  1225200000

#### Daily Adjusted

https://www.alphavantage.co/documentation/#dailyadj

In [5]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
daily_adj = pd.DataFrame.from_dict(res_dict['Time Series (Daily)'], orient='index')
print(daily_adj.shape)
daily_adj.head()

Status Code: 200
{'1. Information': 'Daily Time Series with Splits and Dividend Events', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Output Size': 'Full size', '5. Time Zone': 'US/Eastern'}
(4497, 8)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2000-01-03,1469.2500,1478.0000,1438.3600,1455.2200,1455.2200,931800000,0.0000,1.0000
2000-01-04,1455.2200,1455.2200,1397.4301,1399.4200,1399.4200,1009000000,0.0000,1.0000
2000-01-05,1399.4200,1413.2700,1377.6801,1402.1100,1402.1100,1085500000,0.0000,1.0000
2000-01-06,1402.1100,1411.9000,1392.1000,1403.4500,1403.4500,1092300000,0.0000,1.0000
2000-01-07,1403.4500,1441.4700,1400.7300,1441.4700,1441.4700,1225200000,0.0000,1.0000

#### Weekly

https://www.alphavantage.co/documentation/#weekly

In [6]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_WEEKLY',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
weekly = pd.DataFrame.from_dict(res_dict['Weekly Time Series'], orient='index')
print(weekly.shape)
weekly.head()

Status Code: 200
{'1. Information': 'Weekly Prices (open, high, low, close) and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(932, 5)

              1. open    2. high     3. low   4. close   5. volume
2000-01-14  1441.4700  1473.0000  1427.0800  1465.1500  5169700000
2000-01-21  1465.1500  1465.7100  1438.5400  1441.3600  4455000000
2000-01-28  1441.3600  1454.0900  1356.2000  1360.1600  5532100000
2000-02-04  1360.1600  1435.9100  1350.1400  1424.3700  5205000000
2000-02-11  1424.3700  1444.5500  1378.8900  1387.1200  5100800000

#### Weekly Adjusted

https://www.alphavantage.co/documentation/#weeklyadj

In [7]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_WEEKLY_ADJUSTED',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
weekly_adj = pd.DataFrame.from_dict(res_dict['Weekly Adjusted Time Series'], orient='index')
print(weekly_adj.shape)
weekly_adj.head()

Status Code: 200
{'1. Information': 'Weekly Adjusted Prices and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(932, 7)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
2000-01-14,1441.4700,1473.0000,1427.0800,1465.1500,1465.1500,5169700000,0.0000
2000-01-21,1465.1500,1465.7100,1438.5400,1441.3600,1441.3600,4455000000,0.0000
2000-01-28,1441.3600,1454.0900,1356.2000,1360.1600,1360.1600,5532100000,0.0000
2000-02-04,1360.1600,1435.9100,1350.1400,1424.3700,1424.3700,5205000000,0.0000
2000-02-11,1424.3700,1444.5500,1378.8900,1387.1200,1387.1200,5100800000,0.0000

#### Monthly

https://www.alphavantage.co/documentation/#monthly

In [8]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_MONTHLY',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
monthly = pd.DataFrame.from_dict(res_dict['Monthly Time Series'], orient='index')
print(monthly.shape)
monthly.head()

Status Code: 200
{'1. Information': 'Monthly Prices (open, high, low, close) and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(214, 5)

              1. open    2. high     3. low   4. close    5. volume
2000-02-29  1394.4600  1444.5500  1325.0699  1366.4200  20912000000
2000-03-31  1366.4200  1552.8700  1346.6200  1498.5800  26156200000
2000-04-28  1498.5800  1527.1899  1339.4000  1452.4301  20106460000
2000-05-31  1452.4301  1481.5100  1361.0900  1420.6000  19898300000
2000-06-30  1420.6000  1488.9301  1420.6000  1454.6000  21738300000

#### Monthly Adjusted

https://www.alphavantage.co/documentation/#monthlyadj

In [9]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_MONTHLY_ADJUSTED',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
monthly_adj = pd.DataFrame.from_dict(res_dict['Monthly Adjusted Time Series'], orient='index')
print(monthly_adj.shape)
monthly_adj.head()

Status Code: 200
{'1. Information': 'Monthly Adjusted Prices and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(214, 7)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
2000-02-29,1394.4600,1444.5500,1325.0699,1366.4200,1366.4200,20912000000,0.0000
2000-03-31,1366.4200,1552.8700,1346.6200,1498.5800,1498.5800,26156200000,0.0000
2000-04-28,1498.5800,1527.1899,1339.4000,1452.4301,1452.4301,20106460000,0.0000
2000-05-31,1452.4301,1481.5100,1361.0900,1420.6000,1420.6000,19898300000,0.0000
2000-06-30,1420.6000,1488.9301,1420.6000,1454.6000,1454.6000,21738300000,0.0000

### Currency Exchange

https://www.alphavantage.co/documentation/#currency-exchange

In [10]:
av_qparams = {
    'apikey': av_key,
    'function': 'CURRENCY_EXCHANGE_RATE',
    'from_currency': 'USD',
    'to_currency': 'EUR'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
curr_ex = pd.DataFrame.from_dict(res_dict, orient='index')
print(curr_ex.shape)
curr_ex

Status Code: 200
(1, 7)

,1. From_Currency Code,2. From_Currency Name,3. To_Currency Code,4. To_Currency Name,5. Exchange Rate,6. Last Refreshed,7. Time Zone
Realtime Currency Exchange Rate,USD,United States Dollar,EUR,Euro,0.84796700,2017-11-14 21:26:51,UTC

### Digital / Crypto Currencies

https://www.alphavantage.co/documentation/#currency-daily

I don't really plan to touch these, but it's here if I decide to.

In [11]:
av_qparams = {
    'apikey': av_key,
    'function': 'DIGITAL_CURRENCY_DAILY',
    'symbol':'BTC',
    'market': 'EUR'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
btc = pd.DataFrame.from_dict(res_dict['Time Series (Digital Currency Daily)'], orient='index')
print(btc.shape)
btc.head()

Status Code: 200
{'1. Information': 'Daily Prices and Volumes for Digital Currency', '2. Digital Currency Code': 'BTC', '3. Digital Currency Name': 'Bitcoin', '4. Market Code': 'EUR', '5. Market Name': 'Euro', '6. Last Refreshed': '2017-11-13 (end of day)', '7. Time Zone': 'UTC'}
(1323, 10)

,1a. open (EUR),1b. open (USD),2a. high (EUR),2b. high (USD),3a. low (EUR),3b. low (USD),4a. close (EUR),4b. close (USD),5. volume,6. market cap (USD)
2014-04-01,337.24368327,464.98412099,364.98051975,503.40127051,337.24368327,464.98412099,358.78143188,494.89346671,3611.19706722,1787157.83556112
2014-04-02,362.45757366,499.96423790,378.60730685,522.79746042,322.54905855,444.01946306,325.17983777,447.64098092,4198.64707304,1879486.49432025
2014-04-03,324.45035209,446.63677448,335.26003184,459.90859971,313.00047572,430.82392641,328.92592956,451.19536023,3294.35738901,1486398.76886005
2014-04-04,329.00459091,451.30326183,346.56191782,475.10942403,320.31248156,439.20296826,337.12013252,461.96787455,2079.03735435,960448.46769978
2014-04-05,337.57503741,462.59124713,348.37856951,477.39506256,327.87261694,449.29505480,341.08598710,467.40178760,1227.17828134,573585.32240637

### Technical Indicators

https://www.alphavantage.co/documentation/#technical-indicators

Includes many indicators that I frankly don't know enough about to know if it's something I will want to use, will hold off for now because there's a ton of them.

* SMA
* EMA
* WMA
* DEMA
* TEMA
* TRIMA
* KAMA
* MAMA
* T3
* MACD
* MACDEXT
* STOCH
* STOCHIF
* WILLR
* ADX
* ADXR
* APO
* PPO
* MOM
* BOP
* CCI
* CMO
* ROC
* ROCR
* AROON
* AROONOSC
* MFI
* TRIX
* ULTOSC
* DX
* MINUS_DI
* PLUSE_DI
* MINUS_DM
* PLUS_DM
* BBANDS
* MIDPOINT
* MIDPRICE
* SAR
* TRANGE
* ATR
* NATR
* AD
* ADOSC
* OBV
* HT_TRENDLINE
* HT_DCPERIOD
* HT_DCPHASE
* HT_PHASOR

### Sector Performances

https://www.alphavantage.co/documentation/#sector-information

In [12]:
av_qparams = {
    'apikey': av_key,
    'function': 'SECTOR'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
res_dict.pop('Meta Data')
sectors = pd.DataFrame.from_dict(res_dict)
print(sectors.shape)
sectors

Status Code: 200
{'Information': 'US Sector Performance (realtime & historical)', 'Last Refreshed': '04:16 PM ET 11/14/2017'}
(11, 10)

,Rank A: Real-Time Performance,Rank B: 1 Day Performance,Rank C: 5 Day Performance,Rank D: 1 Month Performance,Rank E: 3 Month Performance,Rank F: Year-to-Date (YTD) Performance,Rank G: 1 Year Performance,Rank H: 3 Year Performance,Rank I: 5 Year Performance,Rank J: 10 Year Performance
Consumer Discretionary,0.10%,0.32%,0.33%,2.02%,3.17%,13.81%,16.44%,35.63%,105.06%,175.63%
Consumer Staples,0.31%,0.60%,3.77%,0.10%,-0.82%,5.67%,8.52%,14.13%,57.66%,94.13%
Energy,-1.54%,-0.54%,-1.63%,1.19%,8.80%,-7.87%,-0.06%,-19.32%,-2.02%,-6.34%
Financials,-0.06%,0.18%,-2.35%,-0.14%,5.75%,12.04%,20.48%,33.24%,107.61%,6.42%
Health Care,-0.43%,0.11%,-0.10%,-1.70%,3.48%,17.91%,15.45%,19.77%,106.34%,131.20%
Industrials,-0.40%,-0.51%,-1.61%,-2.55%,3.29%,11.13%,13.52%,23.40%,89.14%,70.39%
Information Technology,-0.16%,-0.01%,-0.36%,6.32%,13.02%,37.08%,40.43%,63.12%,146.51%,182.04%
Materials,-1.14%,0.53%,-0.28%,0.56%,9.30%,17.22%,21.33%,18.58%,63.10%,47.38%
Real Estate,-0.17%,0.31%,1.97%,2.86%,6.04%,9.94%,15.60%,NaN,NaN,NaN
Telecommunication Services,-1.43%,-0.24%,0.88%,-6.85%,-9.60%,-18.67%,-6.79%,-11.58%,-0.94%,-12.32%
Utilities,1.19%,1.16%,2.03%,2.83%,4.57%,15.23%,21.93%,23.56%,63.44%,36.18%

## Twitter

I will be using Twitter to try to search for tweets mentioning the stocks I am tracking. I will be using the RESTful API as opposed to the streaming API (https://developer.twitter.com/en/docs)

Requests to this API require the following:

* application key: Unique key for verification

### Get OAuth

I will be using application authentication (as opposed to user authentication)

For this section I will follow the steps (https://developer.twitter.com/en/docs/basics/authentication/overview/application-only) to get a token that allows the application to make requests to the twitter API.

For the sake of security, my secret keys are in a hidden file, they will be read in and assigned to the two values below, and then used.

In [15]:
tw_consumer_key = 'KPmuAp5r3E6y3tRGG0lgPJ4ax'
tw_consumer_secret = 'm4zJsXB0xRNqzNN7KmnXQ8fr1tIOhUExG46LoARGryFYRqfsSq'

Encode them according to twitter's expectations

In [16]:
import base64

In [31]:
tw_creds = tw_consumer_key + ":" + tw_consumer_secret

tw_creds_encoded = base64.b64encode(tw_creds.encode()).decode()
tw_creds_encoded

'S1BtdUFwNXIzRTZ5M3RSR0cwbGdQSjRheDptNHpKc1hCMHhSTnF6Tk43S21uWFE4ZnIxdElPaFVFeEc0NkxvQVJHcnlGWVJxZnNTcQ=='

Now make POST request to Twitter to get token.

In [38]:
token_url = 'https://api.twitter.com/oauth2/token/'

headers = {
    'Authorization': 'Basic {}'.format(tw_creds_encoded),
    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
}

qparams = {
    'grant_type': 'client_credentials'
}

res = requests.post(token_url, headers=headers, params=qparams)
res.status_code
response = res.json()

In [40]:
response['token_type']

'bearer'

In [41]:
response['access_token']

'AAAAAAAAAAAAAAAAAAAAAJrA3AAAAAAA1pXr4tNOsBr2KMVfqYZDc3sbWM0%3D23VPCeEUMk5wghl0EP5SQrCzWWtoLc1cf5JfJTZn1jx2jqjS9E'

Everything here checks out, save that token

In [43]:
tw_token = response['access_token']
print(tw_token)

AAAAAAAAAAAAAAAAAAAAAJrA3AAAAAAA1pXr4tNOsBr2KMVfqYZDc3sbWM0%3D23VPCeEUMk5wghl0EP5SQrCzWWtoLc1cf5JfJTZn1jx2jqjS9E

### Set up Queries

In [13]:
tw_token = ''
tw_base_url = ''

### Search Tweets

In [14]:
tw_qparams = {
    'apikey': tw_token,
    'function': 'TIME_SERIES_INTRADAY',
    'symbol':'.inx',
    'interval': '5min',
    'outputsize': 'full'
    }
#res = requests.get(av_base_url, av_qparams)
#print("Status Code:", res.status_code)
#res_dict = res.json()


#print(res_dict['Meta Data'])
#intraday = pd.DataFrame.from_dict(res_dict['Time Series (5min)'], orient='index')
#print(intraday.shape)
#intraday.head()

## Google Trends/Keywords

I would like to use Google to search for search #s for a given keyword, which in this case will be stock names. ()

Requests to this API require the following:

* application key: Unique key for verification

### Search Keywords