# Imports

In [1]:
import numpy as np
import pandas as pd
import requests
import json

#### Config File

Because this process involves unique keys for APIs, I have created a file named `apiconfig.json` to contain sensitive data. A template for that file, `apiconfig-template.json` is provided.

So in adition to imports, I will load that file to be used with the apis.

In [2]:
with open('apiconfig.json') as json_data_file:
    config = json.load(json_data_file)

# Queries

## Alpha Vantage

I will be getting stock information from an API provided by Alpha Vantage (https://www.alphavantage.co/)

Requests to this API require the following:

* apikey: Unique key for verification

* function: The kind of information you are requesting

* symbol: The symbol of the stock you are requesting info about

In [3]:
av_key = config['av']['key']
av_base_url = 'https://www.alphavantage.co/query/'

### Stock Time Series Data

#### Intraday

https://www.alphavantage.co/documentation/#intraday

In [4]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_INTRADAY',
    'symbol':'.inx',
    'interval': '5min',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
intraday = pd.DataFrame.from_dict(res_dict['Time Series (5min)'], orient='index')
print(intraday.shape)
intraday.head()

Status Code: 200
{'1. Information': 'Intraday (5min) prices and volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14 16:00:00', '4. Interval': '5min', '5. Output Size': 'Full size', '6. Time Zone': 'US/Eastern'}
(780, 5)

                       1. open    2. high     3. low   4. close 5. volume
2017-11-01 09:35:00  2583.2100  2585.5500  2583.2100  2585.0900         0
2017-11-01 09:40:00  2585.1900  2585.9900  2584.7300  2585.7900         0
2017-11-01 09:45:00  2585.8100  2586.4300  2585.1200  2586.2000         0
2017-11-01 09:50:00  2586.2200  2587.6700  2586.1600  2587.1000         0
2017-11-01 09:55:00  2587.2400  2588.4000  2587.2400  2587.4900         0

#### Daily

https://www.alphavantage.co/documentation/#daily

In [5]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_DAILY',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
daily = pd.DataFrame.from_dict(res_dict['Time Series (Daily)'], orient='index')
print(daily.shape)
daily.head()

Status Code: 200
{'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Output Size': 'Full size', '5. Time Zone': 'US/Eastern'}
(4497, 5)

              1. open    2. high     3. low   4. close   5. volume
2000-01-03  1469.2500  1478.0000  1438.3600  1455.2200   931800000
2000-01-04  1455.2200  1455.2200  1397.4301  1399.4200  1009000000
2000-01-05  1399.4200  1413.2700  1377.6801  1402.1100  1085500000
2000-01-06  1402.1100  1411.9000  1392.1000  1403.4500  1092300000
2000-01-07  1403.4500  1441.4700  1400.7300  1441.4700  1225200000

#### Daily Adjusted

https://www.alphavantage.co/documentation/#dailyadj

In [6]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_DAILY_ADJUSTED',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
daily_adj = pd.DataFrame.from_dict(res_dict['Time Series (Daily)'], orient='index')
print(daily_adj.shape)
daily_adj.head()

Status Code: 200
{'1. Information': 'Daily Time Series with Splits and Dividend Events', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Output Size': 'Full size', '5. Time Zone': 'US/Eastern'}
(4497, 8)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2000-01-03,1469.2500,1478.0000,1438.3600,1455.2200,1455.2200,931800000,0.0000,1.0000
2000-01-04,1455.2200,1455.2200,1397.4301,1399.4200,1399.4200,1009000000,0.0000,1.0000
2000-01-05,1399.4200,1413.2700,1377.6801,1402.1100,1402.1100,1085500000,0.0000,1.0000
2000-01-06,1402.1100,1411.9000,1392.1000,1403.4500,1403.4500,1092300000,0.0000,1.0000
2000-01-07,1403.4500,1441.4700,1400.7300,1441.4700,1441.4700,1225200000,0.0000,1.0000

#### Weekly

https://www.alphavantage.co/documentation/#weekly

In [7]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_WEEKLY',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
weekly = pd.DataFrame.from_dict(res_dict['Weekly Time Series'], orient='index')
print(weekly.shape)
weekly.head()

Status Code: 200
{'1. Information': 'Weekly Prices (open, high, low, close) and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(932, 5)

              1. open    2. high     3. low   4. close   5. volume
2000-01-14  1441.4700  1473.0000  1427.0800  1465.1500  5169700000
2000-01-21  1465.1500  1465.7100  1438.5400  1441.3600  4455000000
2000-01-28  1441.3600  1454.0900  1356.2000  1360.1600  5532100000
2000-02-04  1360.1600  1435.9100  1350.1400  1424.3700  5205000000
2000-02-11  1424.3700  1444.5500  1378.8900  1387.1200  5100800000

#### Weekly Adjusted

https://www.alphavantage.co/documentation/#weeklyadj

In [8]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_WEEKLY_ADJUSTED',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
weekly_adj = pd.DataFrame.from_dict(res_dict['Weekly Adjusted Time Series'], orient='index')
print(weekly_adj.shape)
weekly_adj.head()

Status Code: 200
{'1. Information': 'Weekly Adjusted Prices and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(932, 7)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
2000-01-14,1441.4700,1473.0000,1427.0800,1465.1500,1465.1500,5169700000,0.0000
2000-01-21,1465.1500,1465.7100,1438.5400,1441.3600,1441.3600,4455000000,0.0000
2000-01-28,1441.3600,1454.0900,1356.2000,1360.1600,1360.1600,5532100000,0.0000
2000-02-04,1360.1600,1435.9100,1350.1400,1424.3700,1424.3700,5205000000,0.0000
2000-02-11,1424.3700,1444.5500,1378.8900,1387.1200,1387.1200,5100800000,0.0000

#### Monthly

https://www.alphavantage.co/documentation/#monthly

In [9]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_MONTHLY',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
monthly = pd.DataFrame.from_dict(res_dict['Monthly Time Series'], orient='index')
print(monthly.shape)
monthly.head()

Status Code: 200
{'1. Information': 'Monthly Prices (open, high, low, close) and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(214, 5)

              1. open    2. high     3. low   4. close    5. volume
2000-02-29  1394.4600  1444.5500  1325.0699  1366.4200  20912000000
2000-03-31  1366.4200  1552.8700  1346.6200  1498.5800  26156200000
2000-04-28  1498.5800  1527.1899  1339.4000  1452.4301  20106460000
2000-05-31  1452.4301  1481.5100  1361.0900  1420.6000  19898300000
2000-06-30  1420.6000  1488.9301  1420.6000  1454.6000  21738300000

#### Monthly Adjusted

https://www.alphavantage.co/documentation/#monthlyadj

In [10]:
av_qparams = {
    'apikey': av_key,
    'function': 'TIME_SERIES_MONTHLY_ADJUSTED',
    'symbol':'.inx',
    'outputsize': 'full'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
monthly_adj = pd.DataFrame.from_dict(res_dict['Monthly Adjusted Time Series'], orient='index')
print(monthly_adj.shape)
monthly_adj.head()

Status Code: 200
{'1. Information': 'Monthly Adjusted Prices and Volumes', '2. Symbol': '.inx', '3. Last Refreshed': '2017-11-14', '4. Time Zone': 'US/Eastern'}
(214, 7)

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
2000-02-29,1394.4600,1444.5500,1325.0699,1366.4200,1366.4200,20912000000,0.0000
2000-03-31,1366.4200,1552.8700,1346.6200,1498.5800,1498.5800,26156200000,0.0000
2000-04-28,1498.5800,1527.1899,1339.4000,1452.4301,1452.4301,20106460000,0.0000
2000-05-31,1452.4301,1481.5100,1361.0900,1420.6000,1420.6000,19898300000,0.0000
2000-06-30,1420.6000,1488.9301,1420.6000,1454.6000,1454.6000,21738300000,0.0000

### Currency Exchange

https://www.alphavantage.co/documentation/#currency-exchange

In [11]:
av_qparams = {
    'apikey': av_key,
    'function': 'CURRENCY_EXCHANGE_RATE',
    'from_currency': 'USD',
    'to_currency': 'EUR'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
curr_ex = pd.DataFrame.from_dict(res_dict, orient='index')
print(curr_ex.shape)
curr_ex

Status Code: 200
(1, 7)

,1. From_Currency Code,2. From_Currency Name,3. To_Currency Code,4. To_Currency Name,5. Exchange Rate,6. Last Refreshed,7. Time Zone
Realtime Currency Exchange Rate,USD,United States Dollar,EUR,Euro,0.84803900,2017-11-15 02:54:53,UTC

### Digital / Crypto Currencies

https://www.alphavantage.co/documentation/#currency-daily

I don't really plan to touch these, but it's here if I decide to.

In [12]:
av_qparams = {
    'apikey': av_key,
    'function': 'DIGITAL_CURRENCY_DAILY',
    'symbol':'BTC',
    'market': 'EUR'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
btc = pd.DataFrame.from_dict(res_dict['Time Series (Digital Currency Daily)'], orient='index')
print(btc.shape)
btc.head()

Status Code: 200
{'1. Information': 'Daily Prices and Volumes for Digital Currency', '2. Digital Currency Code': 'BTC', '3. Digital Currency Name': 'Bitcoin', '4. Market Code': 'EUR', '5. Market Name': 'Euro', '6. Last Refreshed': '2017-11-14 (end of day)', '7. Time Zone': 'UTC'}
(1324, 10)

,1a. open (EUR),1b. open (USD),2a. high (EUR),2b. high (USD),3a. low (EUR),3b. low (USD),4a. close (EUR),4b. close (USD),5. volume,6. market cap (USD)
2014-04-01,337.24368327,464.98412099,364.98051975,503.40127051,337.24368327,464.98412099,358.78143188,494.89346671,3611.19706722,1787157.83556112
2014-04-02,362.45757366,499.96423790,378.60730685,522.79746042,322.54905855,444.01946306,325.17983777,447.64098092,4198.64707304,1879486.49432025
2014-04-03,324.45035209,446.63677448,335.26003184,459.90859971,313.00047572,430.82392641,328.92592956,451.19536023,3294.35738901,1486398.76886005
2014-04-04,329.00459091,451.30326183,346.56191782,475.10942403,320.31248156,439.20296826,337.12013252,461.96787455,2079.03735435,960448.46769978
2014-04-05,337.57503741,462.59124713,348.37856951,477.39506256,327.87261694,449.29505480,341.08598710,467.40178760,1227.17828134,573585.32240637

### Technical Indicators

https://www.alphavantage.co/documentation/#technical-indicators

Includes many indicators that I frankly don't know enough about to know if it's something I will want to use, will hold off for now because there's a ton of them.

* SMA
* EMA
* WMA
* DEMA
* TEMA
* TRIMA
* KAMA
* MAMA
* T3
* MACD
* MACDEXT
* STOCH
* STOCHIF
* WILLR
* ADX
* ADXR
* APO
* PPO
* MOM
* BOP
* CCI
* CMO
* ROC
* ROCR
* AROON
* AROONOSC
* MFI
* TRIX
* ULTOSC
* DX
* MINUS_DI
* PLUSE_DI
* MINUS_DM
* PLUS_DM
* BBANDS
* MIDPOINT
* MIDPRICE
* SAR
* TRANGE
* ATR
* NATR
* AD
* ADOSC
* OBV
* HT_TRENDLINE
* HT_DCPERIOD
* HT_DCPHASE
* HT_PHASOR

### Sector Performances

https://www.alphavantage.co/documentation/#sector-information

In [13]:
av_qparams = {
    'apikey': av_key,
    'function': 'SECTOR'
    }
res = requests.get(av_base_url, av_qparams)
print("Status Code:", res.status_code)
res_dict = res.json()
print(res_dict['Meta Data'])
res_dict.pop('Meta Data')
sectors = pd.DataFrame.from_dict(res_dict)
print(sectors.shape)
sectors

Status Code: 200
{'Information': 'US Sector Performance (realtime & historical)', 'Last Refreshed': '04:20 PM ET 11/14/2017'}
(11, 10)

,Rank A: Real-Time Performance,Rank B: 1 Day Performance,Rank C: 5 Day Performance,Rank D: 1 Month Performance,Rank E: 3 Month Performance,Rank F: Year-to-Date (YTD) Performance,Rank G: 1 Year Performance,Rank H: 3 Year Performance,Rank I: 5 Year Performance,Rank J: 10 Year Performance
Consumer Discretionary,0.10%,0.10%,0.99%,1.68%,3.27%,13.93%,16.56%,34.94%,104.78%,168.16%
Consumer Staples,0.31%,0.31%,2.95%,0.28%,-0.51%,5.99%,8.85%,13.94%,58.37%,91.07%
Energy,-1.54%,-1.54%,-2.97%,-0.30%,7.12%,-9.29%,-1.61%,-19.48%,-3.00%,-9.84%
Financials,-0.06%,-0.06%,-1.09%,-0.16%,5.68%,11.97%,20.41%,33.23%,108.89%,1.37%
Health Care,-0.43%,-0.43%,-0.79%,-1.83%,3.04%,17.41%,14.95%,19.37%,106.36%,126.95%
Industrials,-0.40%,-0.40%,-2.23%,-2.69%,2.87%,10.68%,13.06%,23.23%,89.17%,65.81%
Information Technology,-0.16%,-0.16%,-0.63%,5.60%,12.83%,36.85%,40.19%,61.89%,148.04%,170.81%
Materials,-1.14%,-1.14%,-1.60%,-1.05%,8.06%,15.89%,19.95%,17.28%,61.86%,42.76%
Real Estate,-0.17%,-0.17%,0.87%,2.49%,5.86%,9.76%,15.40%,NaN,NaN,NaN
Telecommunication Services,-1.43%,-1.43%,-0.81%,-7.53%,-10.89%,-19.83%,-8.12%,-13.49%,-2.39%,-15.59%
Utilities,1.19%,1.20%,2.00%,4.86%,5.82%,16.61%,23.38%,26.07%,64.90%,36.89%

## Twitter

I will be using Twitter to try to search for tweets mentioning the stocks I am tracking. I will be using the RESTful API as opposed to the streaming API (https://developer.twitter.com/en/docs)

Requests to this API require the following:

* application key: Unique key for verification

### Get OAuth

I will be using application authentication (as opposed to user authentication)

For this section I will follow the steps (https://developer.twitter.com/en/docs/basics/authentication/overview/application-only) to get a token that allows the application to make requests to the twitter API.

For the sake of security, my secret keys are in a hidden file, they will be read in and assigned to the two values below, and then used.

In [14]:
tw_consumer_key = config['twitter']['consumer_key']
tw_consumer_secret = config['twitter']['consumer_secret']

Encode them according to twitter's expectations

In [15]:
import base64

In [16]:
tw_creds = tw_consumer_key + ":" + tw_consumer_secret

tw_creds_encoded = base64.b64encode(tw_creds.encode()).decode()

Now make POST request to Twitter to get token.

In [17]:
token_url = 'https://api.twitter.com/oauth2/token/'

headers = {
    'Authorization': 'Basic {}'.format(tw_creds_encoded),
    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
}

qparams = {
    'grant_type': 'client_credentials'
}

res = requests.post(token_url, headers=headers, params=qparams)
print(res.status_code)
response = res.json()

200

In [18]:
response['token_type']

'bearer'

Correct token type, save that token!

In [19]:
tw_token = response['access_token']

### Search Tweets

This will be an example of searching for tweets (https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets.html).

In [20]:
tw_base_url = 'https://api.twitter.com/1.1/search/tweets.json'

tw_headers = {
    'Authorization': 'Bearer {}'.format(tw_token)
}

tw_qparams = {
    'lang': 'en',
    'q': 'S&P500',
    'count': '100'
    }
res = requests.get(tw_base_url, params=tw_qparams, headers=tw_headers)
print("Status Code:", res.status_code)
res_dict = res.json()

Status Code: 200

In [21]:
res_dict['search_metadata']

{'completed_in': 0.055,
 'count': 100,
 'max_id': 930623372127453184,
 'max_id_str': '930623372127453184',
 'next_results': '?max_id=930452454344445951&q=S%26P500&lang=en&count=100&include_entities=1',
 'query': 'S%26P500',
 'refresh_url': '?since_id=930623372127453184&q=S%26P500&lang=en&include_entities=1',
 'since_id': 0,
 'since_id_str': '0'}

In [22]:
tweets = pd.DataFrame(res_dict['statuses'])
print(tweets.shape)
tweets.head()

(100, 30)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,None,None,Wed Nov 15 02:27:56 +0000 2017,"{'hashtags': [{'text': 'pressure', 'indices': ...",NaN,0,False,None,930623372127453184,930623372127453184,...,NaN,NaN,NaN,0,False,NaN,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",NASDAQ shows topping sign. S&amp;P500 added on...,True,"{'id': 904893106037735426, 'id_str': '90489310..."
1,None,None,Wed Nov 15 02:23:29 +0000 2017,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,930622250297860096,930622250297860096,...,NaN,NaN,NaN,64,False,{'created_at': 'Tue Nov 14 09:29:13 +0000 2017...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @PunchTheLies: A US-based human rights watc...,False,"{'id': 2561451512, 'id_str': '2561451512', 'na..."
2,None,None,Wed Nov 15 02:04:40 +0000 2017,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,930617516866465792,930617516866465792,...,NaN,NaN,NaN,64,False,{'created_at': 'Tue Nov 14 09:29:13 +0000 2017...,"<a href=""http://twitter.com/download/android"" ...",RT @PunchTheLies: A US-based human rights watc...,False,"{'id': 1538501102, 'id_str': '1538501102', 'na..."
3,None,None,Wed Nov 15 02:02:21 +0000 2017,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,930616933128404993,930616933128404993,...,NaN,NaN,NaN,64,False,{'created_at': 'Tue Nov 14 09:29:13 +0000 2017...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @PunchTheLies: A US-based human rights watc...,False,"{'id': 39967131, 'id_str': '39967131', 'name':..."
4,None,None,Wed Nov 15 01:54:26 +0000 2017,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,None,930614941937053697,930614941937053697,...,NaN,NaN,NaN,64,False,{'created_at': 'Tue Nov 14 09:29:13 +0000 2017...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @PunchTheLies: A US-based human rights watc...,False,"{'id': 399954147, 'id_str': '399954147', 'name..."

So the issie here is that Twitter only allows tweets to be searched with a history of 7 days. Doesn't really give a lot to work off of.

## Google Trends/Keywords

While not exactly what I had in mind, as I was hoping to be doing it dynamically, I was able to easily download a csv of searches for the S&P by motnh dating back to 2004 (https://trends.google.com/trends/explore?date=all&q=%2Fm%2F016yss). 

I am considering that good enough for the current scope of the project.

### Load Data

In [23]:
trends = pd.read_csv('data/sp500indexsearches.csv', skiprows=1)
print(trends.shape)
trends.head()

(167, 2)

     Month  S&P 500 Index: (Worldwide)
0  2004-01                          75
1  2004-02                          68
2  2004-03                          62
3  2004-04                          63
4  2004-05                          54